{
  "extends": "stylelint-config-standard",
  "rules": {
    "rule-empty-line-before": "never",
    "no-descending-specificity": false,
    "at-rule-no-unknown": [ true, {
      "ignoreAtRules": [
        "include",
        "extend",
        "function",
        "mixin",
        "if",
        "else",
        "return",
        "content",
      ]
    }],
    "unit-whitelist": ["px", "%","em", "rem","s","deg"]
  }
}
