/* ============================================================================
		anchorbox :: Start
============================================================================ */

/// sprungbox
.anchorbox-header-wrapper {
  margin-top: -50px;
  position: relative;
  .text-blur {
    .header-title {
      text-align: center;
    }
  }
}
.anchorbox-body-wrapper,
.anchorbox-body-single-wrapper {
  //margin-top: -50px;
  padding: 20px;
  border-radius: 1px;
  //display: flex;
  .header-title {
    padding-bottom: $spacerHeadingMainUnderline;
    border-bottom-style: solid;
    border-bottom-width: $borderBottomWidthHeadingMainUnderline;
    h2 {
      padding: 0;
      margin: 0;
      font-size: $font-size-large !important;
      line-height: $line-height-base;
      .spantitle {
        padding-bottom: $spacerHeadingTitleUnterline;
        border-bottom-style: solid;
        border-bottom-width: $borderBottomWidthTitleUnterline;
      }
    }
  }
  .body-content {
    .content-title {
      padding-bottom: $spacerHeadingMainUnderline;
      border-bottom-style: solid;
      border-bottom-width: $borderBottomWidthHeadingMainUnderline;
      h2 {
        padding: 0;
        margin: 0;
        text-align: left;
        font-size: $font-size-large;
        .spantitle {
          padding-bottom: $spacerHeadingTitleUnterline;
          border-bottom-style: solid;
          border-bottom-width: $borderBottomWidthTitleUnterline;
        }
      }
    }
    ul {
      margin-bottom: 10px;
      margin-top: 10px;
      list-style-type: none;
      li {
        //
      }
      // vor jeden listeneintrag, ein symbol einfuegen
      // FontAwesome icon: "chevron-right" (http://fontawesome.io/icon/chevron-right/)
      li::before {
        content: '\f054';
        font-family: $font-family-fontAwesome;
        float: left;
        width: 1.4em;
      }
    }
  }
}
.anchorbox-body-single-wrapper {
  display: flow-root;
  .header-title {
    text-align: center;
  }
}
// farben
.anchorbox-blue {
  .anchorbox-header-wrapper {
    .text-blur {
      // blur efekt
      background-color: $eah-overlay-50;
      .header-title {
        color: $white;
      }
    }
  }
  .anchorbox-body-wrapper,
  .anchorbox-body-single-wrapper {
    background: $white;
    box-shadow: 2px 2px 5px $bg-color-blue;

    // gib es nur bei .anchorbox-body-single-wrapper
    .header-title {
      border-bottom-color: $green;
      h2 {
        color: $bg-color-blue;
        .spantitle {
          border-bottom-color: $green;
        }
      }
    }
    .body-content {
      .content-title {
        border-bottom-color: $green;
        h2 {
          color: $bg-color-blue;
          .spantitle {
            border-bottom-color: $green;
          }
        }
        ul {
          li {
            color: $bg-color-blue;
            a:hover {
              color: $bg-color-green;
            }
          }
        }
      }
    }
  }
}

