/* ============================================================================
		blockquote :: Start
============================================================================ */

/// Zitat
/// das meiste wird ueber die bootstrap variablen geregelt
/// @author Carsten Hoelbing
.blockquote-wrapper {
  margin-top: 30px;
  font-family: "Roboto";
  blockquote {
    border-left-style: solid;
    border-width: 5px;
    p {
      font-size: $blockquote-font-size;
    }
    footer {
      font-size: $font-size-base;
    }
  }
}
.blockquote-default,
.blockquote-gray {
  background: $gray-lighter;
  color: $black;
  blockquote {
    border-left-color: $green;
  }
}

// bw
.blockquote-fc-bw {
  @include blockquote-color( $gray-lighter, $black, $faculties-color-bw);
}
// et
.blockquote-fc-et {
  @include blockquote-color( $gray-lighter, $black, $faculties-color-et);
}
// gl
.blockquote-fc-gl {
  @include blockquote-color( $gray-lighter, $black, $faculties-color-gl);
}
// gp
.blockquote-fc-gp {
  @include blockquote-color( $gray-lighter, $black, $faculties-color-gp);
}
// mb
.blockquote-fc-mb {
  @include blockquote-color( $gray-lighter, $black, $faculties-color-mb);
}
// mt
.blockquote-fc-mt {
  @include blockquote-color( $gray-lighter, $black, $faculties-color-mt);
}
// sc
.blockquote-fc-sc {
  @include blockquote-color( $gray-lighter, $black, $faculties-color-sc);
}
// sw
.blockquote-fc-sw {
  @include blockquote-color( $gray-lighter, $black, $faculties-color-sw);
}
// wi
.blockquote-fc-wi {
  @include blockquote-color( $gray-lighter, $black, $faculties-color-wi);
}
