/* ============================================================================
		Button :: Start
============================================================================ */

/// moegliche default Button-Farben: btn-white, btn-white-blue, btn-blue, btn-green
/// @author Carsten Hoelbing
/// @example markup
/// <div class="button-wrapper">
///  <a class="btn btn-xxxx" role="button" href="#">
///    BUTTON-TEXT
///  </a>
/// </div>
.button-wrapper {
  margin-bottom: 33px;
  margin-top: 33px;
  padding: 8px;
  text-align: center;
  .title {
    margin-left: 10px;
  }
  i {
    padding-right: 15px;
  }
}

/// Ein Button mit der Farbe 'Weiss' welcher beim Mouse-Hover 'Blau' wird.
/// @example markup
/// <a class="btn btn-white" role="button" href="#">
///   BUTTON-TEXT
/// </a>
.btn-white {
  background-color: $btn-color-white;
  border-color: $btn-color-green;
  color: $btn-color-green;
  &:hover {
    background-color: $btn-color-green;
    border-color: $btn-color-white;
    color: $btn-color-white;
  }
}

/// Ein Button mit der Farbe 'Weiss' welcher beim Mouse-Hover 'Blau' wird.
/// @example markup
/// <a class="btn btn-white-blue" role="button" href="#">
///   BUTTON-TEXT
/// </a>
.btn-white-blue {
  background-color: $btn-color-white;
  border-color: $btn-color-blue;
  color: $btn-color-blue !important;
  &:hover {
    background-color: $btn-color-blue;
    border-color: $btn-color-white;
    color: $btn-color-white !important;
  }
}

/// Ein Button mit der Farbe 'Blau' welcher beim Mouse-Hover 'Weiss' wird.
/// @example markup
/// <a class="btn btn-blue" role="button" href="#">
///   BUTTON-TEXT
/// </a>
.btn-blue {
  background-color: $btn-color-blue;
  border-color: $btn-color-blue;
  color: $btn-color-white !important;
  &:hover {
    background-color: $btn-color-white;
    border-color: $btn-color-blue;
    color: $btn-color-blue !important;
  }
}

/// Ein Button mit der Farbe 'Gruen' welcher beim Mouse-Hover 'Weiss' wird.
/// @example markup
/// <a class="btn btn-green" role="button" href="#">
///   BUTTON-TEXT
/// </a>
.btn-green {
  background-color: $btn-color-green;
  border-color: $btn-color-white;
  color: $btn-color-white !important;
  &:hover {
    background-color: $btn-color-white;
    border-color: $btn-color-green;
    color: $btn-color-green !important;
  }
}
/// button in der Fachbereichsfarbe - Betriebswirtschaft
.btn-fc-bw {
  background-color: $faculties-color-bw;
  border-color: $faculties-color-bw;
  color: $btn-color-white !important;
  &:hover {
    background-color: $btn-color-white;
    border-color: $faculties-color-bw;
    color: $faculties-color-bw !important;
  }
}
// invert
.btn-fc-bw-o {
  background-color: $btn-color-white;
  border-color: $faculties-color-bw;
  color: $faculties-color-bw !important;
  &:hover {
    background-color: $faculties-color-bw;
    border-color: $faculties-color-bw;
    color: $btn-color-white !important;
  }
}
/// button in der Fachbereichsfarbe - Elektrotechnik und Informationstechnik
.btn-fc-et {
  background-color: $faculties-color-et;
  border-color: $faculties-color-et;
  color: $btn-color-white !important;
  &:hover {
    background-color: $btn-color-white;
    border-color: $faculties-color-et;
    color: $faculties-color-et !important;
  }
}
// invert
.btn-fc-et-o {
  background-color: $btn-color-white;
  border-color: $faculties-color-et;
  color: $faculties-color-et !important;
  &:hover {
    background-color: $faculties-color-et;
    border-color: $faculties-color-et;
    color: $btn-color-white !important;
  }
}
/// button in der Fachbereichsfarbe - Grundlagenwissenschaften
.btn-fc-gl {
  background-color: $faculties-color-gl;
  border-color: $btn-color-white; //  $faculties-color-gl;
  color: $btn-color-white !important;
  &:hover {
    background-color: $btn-color-white;
    border-color: $faculties-color-gl;
    color: $faculties-color-gl !important;
  }
}
// invert
.btn-fc-gl-o {
  background-color: $btn-color-white;
  border-color: $faculties-color-gl;
  color: $faculties-color-gl !important;
  &:hover {
    background-color: $faculties-color-gl;
    border-color: $faculties-color-gl; // $btn-color-white
    color: $btn-color-white !important;
  }
}
/// button in der Fachbereichsfarbe - Gesundheit und Pflege
.btn-fc-gp {
  background-color: $faculties-color-gp;
  border-color: $faculties-color-gp;
  color: $btn-color-white !important;
  &:hover {
    background-color: $btn-color-white;
    border-color: $faculties-color-gp;
    color: $faculties-color-gp !important;
  }
}
// invert
.btn-fc-gp-o {
  background-color: $btn-color-white;
  border-color: $faculties-color-gp;
  color: $faculties-color-gp !important;
  &:hover {
    background-color: $faculties-color-gp;
    border-color: $faculties-color-gp;
    color: $btn-color-white !important;
  }
}
/// button in der Fachbereichsfarbe - Maschinenbau
.btn-fc-mb {
  background-color: $faculties-color-mb;
  border-color: $faculties-color-mb;
  color: $btn-color-white !important;
  &:hover {
    background-color: $btn-color-white;
    border-color: $faculties-color-mb;
    color: $faculties-color-mb !important;
  }
}
// invert
.btn-fc-mb-o {
  background-color: $btn-color-white;
  border-color: $faculties-color-mb;
  color: $faculties-color-mb !important;
  &:hover {
    background-color: $faculties-color-mb;
    border-color: $faculties-color-mb;
    color: $btn-color-white !important;
  }
}
/// button in der Fachbereichsfarbe - Medizintechnik und Biotechnologie
.btn-fc-mt {
  background-color: $faculties-color-mt;
  border-color: $faculties-color-mt;
  color: $btn-color-white !important;
  &:hover {
    background-color: $btn-color-white;
    border-color: $faculties-color-mt;
    color: $faculties-color-mt !important;
  }
}
// invert
.btn-fc-mt-o {
  background-color: $btn-color-white;
  border-color: $faculties-color-mt;
  color: $faculties-color-mt !important;
  &:hover {
    background-color: $faculties-color-mt;
    border-color: $faculties-color-mt;
    color: $btn-color-white !important;
  }
}
/// button in der Fachbereichsfarbe - SciTec
.btn-fc-sc {
  background-color: $faculties-color-sc;
  border-color: $faculties-color-sc;
  color: $btn-color-white !important;
  &:hover {
    background-color: $btn-color-white;
    border-color: $faculties-color-sc;
    color: $faculties-color-sc !important;
  }
}
// invert
.btn-fc-sc-o {
  background-color: $btn-color-white;
  border-color: $faculties-color-sc;
  color: $faculties-color-sc !important;
  &:hover {
    background-color: $faculties-color-sc;
    border-color: $faculties-color-sc;
    color: $btn-color-white !important;
  }
}
/// button in der Fachbereichsfarbe - Sozialwesen
.btn-fc-sw {
  background-color: $faculties-color-sw;
  border-color: $faculties-color-sw;
  color: $btn-color-white !important;
  &:hover {
    background-color: $btn-color-white;
    border-color: $faculties-color-sw;
    color: $faculties-color-sw !important;
  }
}
// invert
.btn-fc-sw-o {
  background-color: $btn-color-white;
  border-color: $faculties-color-sw;
  color: $faculties-color-sw !important;
  &:hover {
    background-color: $faculties-color-sw;
    border-color: $faculties-color-sw;
    color: $btn-color-white !important;
  }
}
/// button in der Fachbereichsfarbe - Wirtschaftsingenieurwesen
.btn-fc-wi {
  background-color: $faculties-color-wi;
  border-color: $faculties-color-wi;
  color: $btn-color-black !important;
  &:hover {
    background-color: $btn-color-white;
    border-color: $faculties-color-wi;
    color: $btn-color-black !important; // $faculties-color-wi;
  }
}
// invert
.btn-fc-wi-o {
  background-color: $btn-color-white;
  border-color: $faculties-color-wi;
  color: $btn-color-black !important; // $faculties-color-wi;
  &:hover {
    background-color: $faculties-color-wi;
    border-color: $faculties-color-wi;
    color: $btn-color-black !important; // $faculties-color-wi;
  }
}

/// Eine Klasse um ein Button mittig/zentriert anzuzeigen.
/// @example markup
/// <div class="button-wrapper btn-center-wrapper">
///  <a class="btn btn-xxxx" role="button" href="#">
///    BUTTON-TEXT
///  </a>
/// </div>
.btn-center-wrapper {
  text-align: center;
}

/// button - Back to Top Button (wird rechts unten angezeigt)
a.back-to-top {
  display: none;
  width: 60px;
  height: 40px;
  position: fixed;
  z-index: 999;
  right: 17px;
  bottom: 36px;
  &::after {
    content: '';
    width: 60px;
    height: 0;
    line-height: 0;
    border-left: 15px solid transparent;
    border-bottom: 40px solid $btn-color-green;
    bottom: 0;
    left: 0;
    position: absolute;
  }
  > i {
    font-size: 20px;
    color: $white;
    position: absolute;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

/*
// sharepoint buttons
// eingabefelder mit typ=buttons (input) und disabled
input {
  &[type="button"][disabled],
  &[type="reset"][disabled],
  &[type="submit"][disabled] {
    background-color: $black;
    border-color: $gray-dark;
  }
}
// sharepoint buttons
// buttons (input) disabled
button[disabled][disabled] {
  background-color: $black;
  border-color: $gray-dark;
}
*/

/*
// wird nicht verwendet
.left-navbar {
  input {
    &[type="button"][disabled],
    &[type="reset"][disabled],
    &[type="submit"][disabled] {
      background-color: #f7f5fa;
    }
  }
  button[disabled][disabled] {
    background-color: #f7f5fa;
  }
}
*/
