/* ============================================================================
		headingUnderlineFullWidth :: Start
============================================================================ */

/// Hauptklasse Ueberschrift mit Line (volle Breite)
///
/// Werte fuer die Farben: headingUnderlineFullWidth-green
/// @example markup - HTML-Aufbau des Panels;
/// <section class="headingUnderlineFullWidth-wrapper headingUnderlineFullWidth-green">
///   <span class="title">Unsere Fachbereiche</span>
/// </section>
/// @author Carsten Hoelbing
.headingUnderlineFullWidth-wrapper {
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  .title {
    border-bottom-style: solid;
    border-bottom-width: 4px;
    padding-bottom: 10px;
    font-size: $font-size-large;
    font-family: $font-family-roboto;
  }
}
// default farbe : eah-green
.headingUnderlineFullWidth-green {
  border-bottom-color: $green;
  .title {
    border-bottom-color: $green;
  }
}
