/* ============================================================================
		headingUnderline :: Start
============================================================================ */

/// Hauptklasse Ueberschrift mit Line (als Block)
///
/// Werte fuer die Farben: headingUnderline-default, headingUnderline-bw, .. , headingUnderline-wi
/// @author Carsten Hoelbing
.headingUnderline-wrapper {
  width: 100%;
  padding-top: 10px;
  padding-bottom: $spacerHeadingMainUnderline;
  border-bottom-style: solid;
  border-bottom-width: $borderBottomWidthHeadingMainUnderline;
  text-align: center;
  .title {
    padding-bottom: $spacerHeadingTitleUnterline;
    border-bottom-style: solid;
    border-bottom-width: $borderBottomWidthTitleUnterline;
    font-size: $font-size-large;
    font-family: $font-family-roboto;
  }
}
//
// Farbanpassungen
//
// default eah green
.headingUnderline-default {
  .headingUnderline-wrapper {
    border-bottom-color: $green;
    .title {
      border-bottom-color: $green;
    }
  }
}
// bw
.headingUnderline-bw {
  @include headingUnderline-color( $faculties-color-bw, $faculties-color-bw);
}
// et
.headingUnderline-et {
  @include headingUnderline-color( $faculties-color-et, $faculties-color-et);
}
// gl
.headingUnderline-gl {
  @include headingUnderline-color( $faculties-color-gl, $faculties-color-gl);
}
// gp
.headingUnderline-gp {
  @include headingUnderline-color( $faculties-color-gp, $faculties-color-gp);
}
// mb
.headingUnderline-mb {
  @include headingUnderline-color( $faculties-color-mb, $faculties-color-mb);
}
// mt
.headingUnderline-mt {
  @include headingUnderline-color( $faculties-color-mt, $faculties-color-mt);
}
// sc
.headingUnderline-sc {
  @include headingUnderline-color( $faculties-color-sc, $faculties-color-sc);
}
// sw
.headingUnderline-sw {
  @include headingUnderline-color( $faculties-color-sw, $faculties-color-sw);
}
// wi
.headingUnderline-wi {
  @include headingUnderline-color( $faculties-color-wi, $faculties-color-wi);
}
