/* ============================================================================
		headingUnderline :: Start
============================================================================ */

/// Hauptklasse Ueberschrift mit Line (als Block)
///
/// Werte fuer die Farben: headingUnderline-default, headingUnderline-bw, .. , headingUnderline-wi
/// @example markup - HTML-Aufbau des Panels; Hinweis: 'headingUnderline-default' durch eine Farbe ersetzen
/// <section class="element-wrapper headingUnderline-default">
///   <div class="container">
///     <div class="row">
///       <div class="headingUnderline-wrapper">
///         <span class="title">&Uuml;berschrift</span>
///       </div>
///     </div>
///   </div>
/// </section>
/// @author Carsten Hoelbing
.headingUnderline-wrapper {
  width: 100%;
  padding-top: 10px;
  padding-bottom: $spacerHeadingMainUnderline;
  border-bottom-style: solid;
  border-bottom-width: $borderBottomWidthHeadingMainUnderline;
  text-align: center;
  .title {
    padding-bottom: $spacerHeadingTitleUnterline;
    border-bottom-style: solid;
    border-bottom-width: $borderBottomWidthTitleUnterline;
    font-size: $font-size-large;
    font-family: $font-family-roboto;
  }
}
//
// Farbanpassungen
//
// default eah green
.headingUnderline-default {
  .headingUnderline-wrapper {
    border-bottom-color: $green;
    .title {
      border-bottom-color: $green;
    }
  }
}
// bw
.headingUnderline-bw {
  .headingUnderline-wrapper {
    border-bottom-color: $faculties-color-bw;
    .title {
      border-bottom-color: $faculties-color-bw;
    }
  }
}
// et
.headingUnderline-et {
  .headingUnderline-wrapper {
    border-bottom-color: $faculties-color-et;
    .title {
      border-bottom-color: $faculties-color-et;
    }
  }
}
// gl
.headingUnderline-gl {
  .headingUnderline-wrapper {
    border-bottom-color: $faculties-color-gl;
    .title {
      border-bottom-color: $faculties-color-gl;
    }
  }
}
// gp
.headingUnderline-gp {
  .headingUnderline-wrapper {
    border-bottom-color: $faculties-color-gp;
    .title {
      border-bottom-color: $faculties-color-gp;
    }
  }
}
// mb
.headingUnderline-mb {
  .headingUnderline-wrapper {
    border-bottom-color: $faculties-color-mb;
    .title {
      border-bottom-color: $faculties-color-mb;
    }
  }
}
// mt
.headingUnderline-mt {
  .headingUnderline-wrapper {
    border-bottom-color: $faculties-color-mt;
    .title {
      border-bottom-color: $faculties-color-mt;
    }
  }
}
// sc
.headingUnderline-sc {
  .headingUnderline-wrapper {
    border-bottom-color: $faculties-color-sc;
    .title {
      border-bottom-color: $faculties-color-sc;
    }
  }
}
// sw
.headingUnderline-sw {
  .headingUnderline-wrapper {
    border-bottom-color: $faculties-color-sw;
    .title {
      border-bottom-color: $faculties-color-sw;
    }
  }
}
// wi
.headingUnderline-wi {
  .headingUnderline-wrapper {
    border-bottom-color: $faculties-color-wi;
    .title {
      border-bottom-color: $faculties-color-wi;
    }
  }
}
