/* ============================================================================
		interRestGroup :: Start
============================================================================ */

/// Startseite: wrapper fuer interRestGroup
///
/// Schnell-Einstieg fuer: Schueler, Studieninteressierte, Studierende, Alumni, Unternehmen, Mitarbeiter
/// @author Carsten Hoelbing
.interRestGroup-wrapper {
  text-align: center;
  // margin-top: -37px;
  height: 354px;

  // rand nur wenn mindestens (>=) sm
  @media screen and (min-width: $screen-sm-min) {
    height: 236px;
  }

  @media screen and (min-width: $screen-md-min) {
    height: 118px;
  }
  .interRestGroup-icon {
    width: 100%;
    margin: 0;
    padding: 20px 0 16px;
    position: relative;
    img {
      width: 40px;
      height: 40px;
    }
    a {
      vertical-align: middle;
      text-align: center;
      font-size: $font-size-large;
    }
    a:hover {
      text-decoration: none;
    }
    .interRestGroup-icon-img {
      margin-left: auto;
      margin-right: auto;
    }
    .interRestGroup-icon-text {
      padding-top: 10px;
      vertical-align: middle;
      text-align: center;
    }
    &:hover {
      text-decoration: none;
      border-top-style: solid;
      border-top-width: 4px;
      margin-top: -4px;
      padding-top: 24px;
    }
  }
}
//
.interRestGroup-color {
  @include button-color( $green-light, $green);
}
.interRestGroup-fc-bw {
  @include button-color( $faculties-color-bw-overlay, $green);
}
.interRestGroup-fc-et {
  @include button-color( $faculties-color-et-overlay, $green);
}
.interRestGroup-fc-gl {
  @include button-color( $faculties-color-gl-overlay, $green);
}
.interRestGroup-fc-gp {
  @include button-color( $faculties-color-gp-overlay, $green);
}
.interRestGroup-fc-mb {
  @include button-color( $faculties-color-mb-overlay, $green);
}
.interRestGroup-fc-mt {
  @include button-color( $faculties-color-mt-overlay, $green);
}
.interRestGroup-fc-sc {
  @include button-color( $faculties-color-sc-overlay, $green);
}
.interRestGroup-fc-sw {
  @include button-color( $faculties-color-sw-overlay, $green);
}
.interRestGroup-fc-wi {
  @include button-color( $faculties-color-wi-overlay, $green);
}
