/* ============================================================================
		line :: Start
============================================================================ */

/// graue linie ; veraltet
.grey-line-wrapper {
  border-bottom-color: $gray-lighter;
  border-bottom-style: solid;
  border-width: 2px;
  margin: 0; //0 0 20px;
}

/// wrapper klasse fuer die trennline
.line-wrapper {
  margin: 0 0 20px;
  border-bottom-style: solid;
  border-width: 2px;
}
// default farbwert fuer eine line
.line-default {
  @include line-color($gray-lighter);
}
// bw
.line-fc-bw {
  @include line-color($faculties-color-bw);
}
// et
.line-fc-et {
  @include line-color($faculties-color-et);
}
// gl
.line-fc-gl {
  @include line-color($faculties-color-gl);
}
// gp
.line-fc-gp {
  @include line-color($faculties-color-gp);
}
// mb
.line-fc-mb {
  @include line-color($faculties-color-mb);
}
// mt
.line-fc-mt {
  @include line-color($faculties-color-mt);
}
// sc
.line-fc-sc {
  @include line-color($faculties-color-sc);
}
// sw
.line-fc-sw {
  @include line-color($faculties-color-sw);
}
// wi
.line-fc-wi {
  @include line-color($faculties-color-wi);
}
