/* ============================================================================
		gazette :: Start
============================================================================ */
//
#studiengaengepage-wrapper {
  padding-top: 15px;
  .mainTitle {
    padding: 0;
    margin: 0;
    text-align: left;
    font-weight: 500;
  }
  .subTitle {
    margin: 0;
    padding: 10px 0;
  }

  // angaben fuer beide elemente
  .content,
  .sidebar {
    .panel {
      ul {
        padding-left: 15px;
        li {
          line-height: 25px;
        }
      }
    }
  }
  .content {
    @include make-xs-column(12);
    @include make-md-column(8);
    //
  }
  // sidebar
  .sidebar {
    // viewpoints
    @include make-xs-column(12);
    @include make-md-column(4);
    //
    .entry {
      border-style: solid;
      border-width: 1px;
      margin-bottom: 10px;
      border-radius: 5px;
    }
    .sidebarcontactprimary,
    .sidebarcontactprimarytitle,
    .sidebarcontactsecondary,
    .sidebarcontactsecondarytitle {
      text-align: left;
      padding: 10px;
      line-height: 25px;
    }
    .sidebarcontactprimary,
    .sidebarcontactsecondary {
      .contact-name {
        font-weight: bold;
        font-size: 19px;
      }
      .text {
        padding-left: 5px;
      }
      i {
        width: 30px;
        text-align: center;
      }
    }
  }
}

// default farbe
// es sollte eogentlich auch keine andere Farbe-Klasse verwendet werden.
.studiengaengepage-default {
  .content {
    h1 {
      color: $green;
    }
    h2 {
      color: $blue;
    }
  }
  .sidebar {
    .entry {
      border-color: $gray;
    }
    .sidebarcontactprimarytitle,
    .sidebarcontactsecondarytitle {
      background-color: $blue;
      color: $white;
    }
  }
}
