<footer class="doku-footer">
  <div class="container-fluid">
    <p>Designed and built with all the love in the world by <a href="http://hoelbing.net" target="_blank">@ch</a> and Katharina Sawatzki. Maintained by the <a href="https://github.com/orgs/eah-dev/people">core team</a> with the help of <a href="https://github.com/eah-dev/EAH-Sharepoint2013-Stylesheet/graphs/contributors">our contributors</a>.</p>
    <p>Code licensed <a href="https://github.com/eah-dev/EAH-Sharepoint2013-Stylesheet/blob/master/LICENSE" target="_blank" rel="license noopener">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a>.</p>
  </div>
</footer>
