---
---
//
//
// Load configuration variables, Bootstrap styles, and core styles.
//
//

// set charset
@charset 'utf8';

// application configuration variables
@import 'variables';

// load Bootstrap
@import 'loadbootstrap';

// Variables to modify font folders
$fa-font-path: "/assets/font-awesome/fonts/";
$roboto-font-path: "/assets/roboto-fontface/fonts";
$ionicons-font-path: "/assets/ionicons/fonts";

// load all external libs
@import 'loadexternlibs';

//
// sass functionen und einstellungen der default html-elemente laden.
//
@import 'function';
@import 'type';
@import 'faculty';

//
// SharePoint 2013 - Klassen Anpassungen und Erweiterungen
//

// @import 'sharepoint/ms-rte';
@import 'sharepoint/ms-settings';

// @TODO noch aufraeumen
@import 'bootstrap3-custom';

// laden der verschiedenen elemente
@import 'utilities';
// @import 'breadcrumb';

@import 'colorpicker';
@import 'cookie';
// @import 'dropdown-menu';
// @import 'event-list';
@import 'editor';
@import 'components/components';
@import 'event-news';
@import 'footer';
@import 'form';
@import 'header';
@import 'images';
// @import 'language-selector';
@import 'list-group';
@import 'nav';
@import 'news-ticker';
@import 'pagelayout';
@import 'reusable_content';
@import 'reusable-major';
// @import 'search-form';
// @import 'searchbar';
// @import 'sidebar';
@import 'slideOutNavi';
@import 'style';
@import 'table';
@import 'webparts';
