/* ============================================================================
		application :: Start
============================================================================ */

/// Bewerberbox
/// @author Carsten Hoelbing
/// <section>
///   <h1>Artikel mit Bild rechts</h1>
///   <section class="element-wrapper articel-gray">
///     <div class="container">
///       <div class="row">
///         <div class="articel-wrapper">
///           <div class="col-xs-12 col-sm-6 article-text">
///             <div class="title">Überschrift</div>
///             <div class="content content-text-left">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
///               dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
///               clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
///               consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
///               sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
///               sea takimata sanctus est Lorem ipsum dolor sit amet.</div>
///           </div>
///           <div class="col-xs-12 col-sm-6 article-img">
///             <img class="img-test" src="/_catalogs/masterpage/layouts/eah-jena/images/blankslide400x400.png" alt="" />
///           </div>
///         </div>
///       </div>
///     </div>
///     </div>
///     </div>
///   </section>
/// </section>
.application-wrapper {
  .application-img {
    img {
      padding: 30px 0;
      max-width: 100%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .application-text {
    .title {
      font-size: $font-size-h2;
      margin-top: 25px;
      padding-bottom: 15px;
      margin-bottom: 12.5px;
    }
  }
}

// bewerbungspanel blue
.application-blue {
  background-color: $bg-color-blue;
  .application-text {
    color: $white;
  }
}

