/* ============================================================================
		article :: Start
============================================================================ */

/// wrapper klasse fuer ein Artikel mit Bild
.article-wrapper {
  .article-text {
    .title {
      font-size: $font-size-h2;
      margin-top: 25px;
      padding-bottom: 15px;
      margin-bottom: 12.5px;
    }
    .content-text-left {
      text-align: left;
    }
    .content-text-right {
      text-align: right;
    }
  }
  .article-img {
    img {
      padding: 30px 0;
      max-width: 100%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.article-gray {
  background: $bg-color-gray;
  .title {
    color: $green;
  }
  .article-content {
    color: $black;
  }
}
.article-blue {
  background-color: $bg-color-blue;
  .title {
    color: $white;
  }
  .article-content {
    color: $white;
  }
}
