/* ============================================================================
		line :: Start
============================================================================ */

/// graue linie ; veraltet
.grey-line-wrapper {
  border-bottom-color: $gray-lighter;
  border-bottom-style: solid;
  border-width: 2px;
  margin: 0 0 20px;
}

/// wrapper klasse fuer die trennline
.line-wrapper {
  margin: 0 0 20px;
  border-bottom-style: solid;
  border-width: 2px;
}
// default farbwert fuer eine line
.line-default {
  .line-wrapper {
    border-bottom-color: $gray-lighter;
  }
}
