/// Ueberschrift mit border bottom
/// @author Carsten Hoelbing
.topTitleHeader-wrapper {
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  .title {
    border-bottom-style: solid;
    border-bottom-width: 4px;
    padding-bottom: 10px;
    font-size: $font-size-large;
    font-family: $font-family-roboto;
  }
}
// default farbe
.topTitleHeader-eah {
  border-bottom-color: $green;
  .title {
    border-bottom-color: $green;
  }
}
