/* ============================================================================
		Color :: Start
============================================================================ */

//
// Background / Hintergrundfarbe
//

/// Hintergrund-Farbe - Gruen
/// @example markup
/// <span class="background-green">TEXT mit Hintergrundfarbe</span>
.background-green {
  background-color: $bg-color-green;
}
/// Hintergrund-Farbe - white
/// @example markup
/// <span class="background-white">TEXT mit Hintergrundfarbe</span>
.background-white {
  background-color: $bg-color-white;
}
/// Hintergrund-Farbe - blue
/// @example markup
/// <span class="background-blue">TEXT mit Hintergrundfarbe</span>
.background-blue {
  background-color: $bg-color-blue;
}
/// Hintergrund-Farbe - grau
/// @example markup
/// <span class="background-gray">TEXT mit Hintergrundfarbe</span>
.background-gray {
  background-color: $bg-color-gray;
}
/// Hintergrund-Farbe fuer den Fachbereich - bw
/// @example markup
/// <span class="background-color-fc-bw">TEXT</span>
.background-color-fc-bw {
  background-color: $faculties-color-bw;
}
.background-color-fc-bw-overlay {
  background-color: $faculties-color-bw-overlay;
}
/// Hintergrund-Farbe fuer den Fachbereich - et
/// @example markup
/// <span class="background-color-fc-et">TEXT</span>
.background-color-fc-et {
  background-color: $faculties-color-et;
}
.background-color-fc-et-overlay {
  background-color: $faculties-color-et-overlay;
}
/// Hintergrund-Farbe fuer den Fachbereich - gl
/// @example markup
/// <span class="background-color-fc-gl">TEXT</span>
.background-color-fc-gl {
  background-color: $faculties-color-gl;
}
.background-color-fc-gl-overlay {
  background-color: $faculties-color-gl-overlay;
}
/// Hintergrund-Farbe fuer den Fachbereich - gp
/// @example markup
/// <span class="background-color-fc-gp">TEXT</span>
.background-color-fc-gp {
  background-color: $faculties-color-gp;
}
.background-color-fc-gp-overlay {
  background-color: $faculties-color-gp-overlay;
}
/// Hintergrund-Farbe fuer den Fachbereich - mb
/// @example markup
/// <span class="background-color-fc-mb">TEXT</span>
.background-color-fc-mb {
  background-color: $faculties-color-mb;
}
.background-color-fc-mb-overlay {
  background-color: $faculties-color-mb-overlay;
}
/// Hintergrund-Farbe fuer den Fachbereich - mt
/// @example markup
/// <span class="background-color-fc-mt">TEXT</span>
.background-color-fc-mt {
  background-color: $faculties-color-mt;
}
.background-color-fc-mt-overlay {
  background-color: $faculties-color-mt-overlay;
}
/// Hintergrund-Farbe fuer den Fachbereich - sc
/// @example markup
/// <span class="background-color-fc-sc">TEXT</span>
.background-color-fc-sc {
  background-color: $faculties-color-sc;
}
.background-color-fc-sc-overlay {
  background-color: $faculties-color-sc-overlay;
}
/// Hintergrund-Farbe fuer den Fachbereich - sw
/// @example markup
/// <span class="background-color-fc-sw">TEXT</span>
.background-color-fc-sw {
  background-color: $faculties-color-sw;
}
.background-color-fc-sw-overlay {
  background-color: $faculties-color-sw-overlay;
}
/// Hintergrund-Farbe fuer den Fachbereich - wi
/// @example markup
/// <span class="background-color-fc-wi">TEXT</span>
.background-color-fc-wi {
  background-color: $faculties-color-wi;
}
.background-color-fc-wi-overlay {
  background-color: $faculties-color-wi-overlay;
}
//
// Text-Farbe
//

/// Text-Farbe - Gruen
/// @example markup
/// <span class="text-color-green">TEXT</span>
.text-color-green {
  color: $bg-color-green;
}
/// Text-Farbe - Weiss
/// @example markup
/// <span class="text-color-white">TEXT</span>
.text-color-white {
  color: $bg-color-white;
}
/// Text-Farbe - Blau
/// @example markup
/// <span class="text-color-blue">TEXT</span>
.text-color-blue {
  color: $bg-color-blue;
}
/// Text-Farbe - Grau
/// @example markup
/// <span class="text-color-gray">TEXT</span>
.text-color-gray {
  color: $bg-color-gray;
}
/// Text Farbe fuer den Fachbereich - bw
/// @example markup
/// <span class="text-color-fc-bw">TEXT</span>
.text-color-fc-bw {
  color: $faculties-color-bw;
}
/// Text Farbe fuer den Fachbereich - et
/// @example markup
/// <span class="text-color-fc-et">TEXT</span>
.text-color-fc-et {
  color: $faculties-color-et;
}
/// Text Farbe fuer den Fachbereich - gl
/// @example markup
/// <span class="text-color-fc-gl">TEXT</span>
.text-color-fc-gl {
  color: $faculties-color-gl;
}
/// Text Farbe fuer den Fachbereich - gp
/// @example markup
/// <span class="text-color-fc-gp">TEXT</span>
.text-color-fc-gp {
  color: $faculties-color-gp;
}
/// Text Farbe fuer den Fachbereich - mb
/// @example markup
/// <span class="text-color-fc-mb">TEXT</span>
.text-color-fc-mb {
  color: $faculties-color-mb;
}
/// Text Farbe fuer den Fachbereich - mt
/// @example markup
/// <span class="text-color-fc-mt">TEXT</span>
.text-color-fc-mt {
  color: $faculties-color-mt;
}
/// Text Farbe fuer den Fachbereich - sc
/// @example markup
/// <span class="text-color-fc-sc">TEXT</span>
.text-color-fc-sc {
  color: $faculties-color-sc;
}
/// Text Farbe fuer den Fachbereich - sw
/// @example markup
/// <span class="text-color-fc-sw">TEXT</span>
.text-color-fc-sw {
  color: $faculties-color-sw;
}
/// Text Farbe fuer den Fachbereich - wi
/// @example markup
/// <span class="text-color-fc-wi">TEXT</span>
.text-color-fc-wi {
  color: $faculties-color-wi;
}
