/* ============================================================================
		Event / Veranstaltungen :: Start
============================================================================ */

/// Veranstaltungs-Seite anpassen
/// root/Style Library/XSL Style Sheets/ItemStyle.xsl
/// @author Carsten Hoelbing
/// EAH-Sharepoint2013-Basic/src/xsl/
.eventitem {
  // padding-bottom: 25px;
  // background-color: $bg-color-gray;
  header {
    .event-date {
      border-top-style: solid;
      border-bottom-style: solid;
      border-width: 1px;
      border-top-color: $blue;
      border-bottom-color: $blue;
      .eah-event-date {
        padding-top: 5px;
        text-align: center;
      }
      .eah-event-time {
        padding-bottom: 5px;
        text-align: center;
      }
    }
    .eah-event-title-de,
    .eah-event-title-en {
      font-size: $font-size-h3;
    }
  }
  section {
    .eah-event-description {
      padding: 10px;
      padding-bottom: 40px;
    }
  }
}
