/* ============================================================================
		Faculties :: Start
============================================================================ */
// Farben der Fachbereiche
$faculties-color-bw: rgba(222, 154, 39, 1);
$faculties-color-bw-overlay: rgba(222, 154, 39, 0.5);
$faculties-color-et: rgba(160, 49, 57, 1);
$faculties-color-et-overlay: rgba(160, 49, 57, 0.5);
$faculties-color-gp: rgba(128, 33, 126, 1);
$faculties-color-gp-overlay: rgba(128, 33, 126, 0.5);
$faculties-color-gl: rgba(44, 59, 89, 1);
$faculties-color-gl-overlay: rgba(44, 59, 89, 0.5);
$faculties-color-mb: rgba(240, 202, 32, 1);
$faculties-color-mb-overlay: rgba(240, 202, 32, 0.5);
$faculties-color-mt: rgba(6, 139, 3, 1);
$faculties-color-mt-overlay: rgba(6, 139, 3, 0.5);
$faculties-color-sc: rgba(124, 192, 231, 1);
$faculties-color-sc-overlay: rgba(124, 192, 231, 0.5);
$faculties-color-sw: rgba(201, 68, 44, 1);
$faculties-color-sw-overlay: rgba(201, 68, 44, 0.5);
$faculties-color-wi: rgba(116, 245, 1, 1);
$faculties-color-wi-overlay: rgba(116, 245, 1, 0.5);

/*
folgende Elemente wurde mit unterschiedlichen (Fachbereichs-) Farben angepasst
- button
*/
// wo das verwendet wird ?
.faculties {
  .col-md-2 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-md-6 {
    padding-left: 0;
    padding-right: 0;
    .row {
      margin: 0;
    }
  }
}

// wo das verwendet wird ?
.faculty {
  padding: 50px 15px;
  text-align: center;
  height: 220px;
  &.fc-quicklinks {
    padding: 10px 15px 0;
    text-align: center;
    height: 70px;
    color: $white !important;
  }
  &.fc-quicklinks-icons {
    padding: 10px 15px 0;
    text-align: center;
    height: 150px;
    color: $white !important;
  }
  a {
    color: $white !important;
    font-size: 17px;
    font-weight: 300;
  }
  &.fc-quicklinks-icons a {
    font-size: 13px;
  }
}
.fc-icon {
  background: $white none repeat scroll 0 0;
  border-radius: 50%;
  display: block;
  height: 60px;
  margin: 2px auto 10px;
  text-align: center;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  width: 60px;
  i {
    font-size: 28px;
    padding: 16px 0;
  }
}
.fc-quicklinks-icons,
.fc-quicklinks {
  background: #009790;
}
.fc-quicklinks-icons .fc-icon {
  height: 40px;
  width: 40px;
  i {
    font-size: 18px;
    padding: 12px 0;
  }
}
.fc-bw {
  background: $faculties-color-bw;
}
.icon-bw {
  color: $faculties-color-bw;
}
.fc-et {
  background: $faculties-color-et;
}
.icon-et {
  color: $faculties-color-et;
}
.fc-gl {
  background: $faculties-color-gl;
}
.icon-gl {
  color: $faculties-color-gl;
}
.fc-mb {
  background: $faculties-color-mb;
}
.icon-mb {
  color: $faculties-color-mb;
}
.fc-mt {
  background: $faculties-color-mt;
}
.icon-mt {
  color: $faculties-color-mt;
}
.fc-gp {
  background: $faculties-color-gp;
}
.icon-gp {
  color: $faculties-color-gp;
}
.fc-sc {
  background: $faculties-color-sc;
}
.icon-sc {
  color: $faculties-color-sc;
}
.fc-sw {
  background: $faculties-color-sw;
}
.icon-sw {
  color: $faculties-color-sw;
}
.fc-wi {
  background: $faculties-color-wi;
}
.icon-wi {
  color: $faculties-color-wi;
}
