/* ============================================================================
		list-group  :: Start
============================================================================ */

/*
.list-group {
  box-shadow: 0 0 1px rgba(51, 51, 51, 0.7);
}
.list-group-item {
  border: none;
  border-top: 1px solid $gray-lighter;
  margin-bottom: 0;
  &:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  &:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.list-group-item-heading {
  font-size: $font-size-large;
}
*/
