/* ============================================================================
		search box  :: Start
============================================================================ */

//
.input-group.search-form,
#result {
  width: 100%;
  #DeltaPlaceHolderSearchArea {
    width: 100% !important;
  }
  #searchInputBox {
    float: none;
  }
  [id*='_csr_sboxdiv'] {
    white-space: nowrap;
  }
  [id*='_csr_sbox'] {
    width: 100%;
  }
  [id*='_csr_SearchLink'] {
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    font-size: $font-size-small;
    line-height: 21px;
    color: $search-form-color;
    vertical-align: middle;
    border-radius: 0 4px 4px 0;
    background-color: $white;
    border: 1px solid $search-form-color;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    margin: -10px 0 0 0;
    text-align: center;
    border-left: 0;
    &:hover {
      background-color: $gray-lighter;
      border-color: $gray-lighter;
    }
    &::after {
      content: '\f002';
      position: relative;
      top: 1px;
      display: inline-block;
      font-family: $font-family-fontAwesome;
      font-style: normal;
      font-weight: 400;
      line-height: 1;
      color: $search-form-color;
    }
    img {
      display: none !important;
    }
  }
  #SearchBox input[type="text"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

// Search Box Small
.form-group.menu-search {
  .ms-mpSearchBox {
    width: 100% !important;
  }
  #SearchBox input[type="text"] {
    height: 34px;
    width: 100%;
  }
  [id*='_SearchLink'] {
    display: none !important;
  }
}
