/* ============================================================================
		default html tags  :: Start
============================================================================ */

// Body text
h1 {
  font-size: $font-size-h1;
}
// viewpoint: handy
@media (min-width: $screen-xs-min) {
  h1 {
    font-size: $font-size-h2;
  }
  h2 {
    font-size: $font-size-h3;
  }
}
// viewpoint: desktop
@media (min-width: $screen-sm-min) {
  h1 {
    font-size: $font-size-h1;
  }
  h2 {
    font-size: $font-size-h2;
  }
}
body {
  height: 100%;
  background-color: $white;
  font-size: $font-size-base !important;
  -webkit-overflow-scrolling: touch;
}

// Links
// -------------------------
a {
  color: $green;
  &:link,
  &:visited {
    color: $green;
  }
  &:hover,
  &:focus {
    color: $green;
    text-decoration: none;
  }
  &:active {
    color: $green;
    text-decoration: none;
  }
}

// Emphasis & misc
// -------------------------
html {
  height: 100%;
}
textarea {
  resize: vertical;
}
