/* ============================================================================
		utilities  :: Start
============================================================================ */

/// element ausblenden
.hidden {
  display: none;
}
/// abstand (padding und margin, !important) auf null setzten
.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}
/// abstand (nur padding, !important) auf null setzten
.no-padding-o {
  padding: 0 !important;
}
/// abstand oben(nur margin, !important) auf null setzten
.no-margin-top {
  margin-top: 0 !important;
}
/// Schrift dicke
.font-bold {
  font-weight: bold;
}

// loader
.loader {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 3;
  text-align: center;
  font-size: $font-size-h2;
}

/*
// fa-external-link
// http://fontawesome.io/icon/external-link/
.caret {
  margin-top: -3px;
  content: '\f08e';
  font-family: $font-family-fontAwesome;
  position: absolute;
}
*/
.spinning {
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

// bild align-center
.img-center-wrapper {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
