// -- The main styling file for the EAH Website Style--*/
$eah-overlay-50: rgba(0, 0, 0, 0.5);
$siteReferenceWidth: 1920;

/* RTE Styles */
$eah-table-border:  #cacaca;
$eah-light-green:   #cdece8;

//== Colors
//
$white:             #fff; // == #ffffff
$black:             #000; // == #000000
$red:               #f00; // == #ff0000
$yellow:            #f5a064;

$blue:              #394a5f; // Dunkelblau - rgb (57,74,95)
$blue-dark:         #3a6ce2; // Akzentblau

// eah - color
$green-light:       #cdece8;
$green:             #00aaa0; // EAH gruen - rgb (0,170,160)
$green-dark:        #2f4f4f; // #2f4f4f = DarkSlateGray

// transparent
// green -> #009A93 -> rgb (0, 154, 147)
$transparent-green-light: rgba(0, 154, 147, 0.25);
$transparent-green:       rgba(0, 154, 147, 0.5);
$transparent-green-dark:  rgba(0, 154, 147, 0.8);
// blue -> #394A5F -> rgb (57,74,95)
$transparent-blue-light:  rgba(57, 74, 95, 0.25);
$transparent-blue:        rgba(57, 74, 95, 0.5);
$transparent-blue-dark:   rgba(57, 74, 95, 0.65);

$eah-gray:              #efefef;
$eah-gray-light:        #616e7f; // rgb (97, 110, 127)
$eah-gray-dark:         rgba(57, 74, 95, 0.4); // (#394A5F mit 40% Deckkraft)

$search-form-color:     $blue; //#75818f;

$eah-menu-close:        $white;

// Abstand zwischen Ueberschrift und line
$spacerHeadingMainUnderline: 3px;
$borderBottomWidthHeadingMainUnderline: 2px;
$spacerHeadingTitleUnterline: 4px;
$borderBottomWidthTitleUnterline: 4px;

//
// buttons
//
$btn-default-font-size: 14px;

$btn-color-white:       $white;
$btn-color-blue:        $blue-dark;
$btn-color-green:       $green;
$btn-color-black:       $black;

//## Gray and brand colors for use across Bootstrap.
$gray-base:              $black;
$gray-darker:            lighten($gray-base, 13.5%); // #222 rgb(34, 34, 34)
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 93.5%); // #eee

// hintergrund farben
$bg-color-gray:         $gray-lighter; // grau
$bg-color-blue:         $blue; // blau
$bg-color-green:        $green;
$bg-color-white:        $white;

$brand-primary:         darken(#428bca, 6.5%); // #337ab7
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

// Farben der Fachbereiche
$faculties-color-bw: rgba(222, 154, 39, 1);
$faculties-color-bw-overlay: rgba(222, 154, 39, 0.5);
$faculties-color-et: rgba(160, 49, 57, 1);
$faculties-color-et-overlay: rgba(160, 49, 57, 0.5);
$faculties-color-gl: rgba(44, 59, 89, 1);
$faculties-color-gl-overlay: rgba(44, 59, 89, 0.5);
$faculties-color-gp: rgba(128, 33, 126, 1);
$faculties-color-gp-overlay: rgba(128, 33, 126, 0.5);
$faculties-color-mb: rgba(240, 202, 32, 1);
$faculties-color-mb-overlay: rgba(240, 202, 32, 0.5);
$faculties-color-mt: rgba(6, 139, 3, 1);
$faculties-color-mt-overlay: rgba(6, 139, 3, 0.5);
$faculties-color-sc: rgba(124, 192, 231, 1);
$faculties-color-sc-overlay: rgba(124, 192, 231, 0.5);
$faculties-color-sw: rgba(201, 68, 44, 1);
$faculties-color-sw-overlay: rgba(201, 68, 44, 0.5);
$faculties-color-wi: rgba(116, 245, 1, 1);
$faculties-color-wi-overlay: rgba(116, 245, 1, 0.5);

// typography
$font-family-sans-serif:    'Roboto', Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
$font-family-serif:         Georgia, 'Times New Roman', Times, serif;
$font-family-fontAwesome:   'FontAwesome';
$font-family-robotoLight:   'Roboto-Light';
$font-family-roboto:        'Roboto';
$font-family-glyphiconsHalflings: 'Glyphicons Halflings';
$font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;
$font-family-base: $font-family-sans-serif;

$font-size-base:          0.95rem;//15px;// 0.95em; !important;

$font-size-h1:            $font-size-base * 1.5 !important;//;32px !important;//28px;//floor(($font-size-base * 2)); // ~28px
$font-size-h2:            $font-size-base * 1.4; //28px !important;//22px;//floor(($font-size-base * 1.57)); // ~22px;
$font-size-h3:            $font-size-base * 1.3; //22px;//12px;//ceil(($font-size-base * 1.22)); // ~18px;
$font-size-h4:            $font-size-base * 1.15; // ~16px;
$font-size-h5:            $font-size-base;                 // 15px
$font-size-h6:            $font-size-base * 0.85; // ~12px
/*
$font-size-bigger:        floor(($font-size-base * 6.4)); // ~90px
$font-size-big:           floor(($font-size-base * 5)); // ~70px
$font-size-smaller:       ceil(($font-size-base * 0.7)); // ~10px
*/
$font-size-large:         $font-size-h4; // ~18px
$font-size-small:         $font-size-base * 0.85; // ~12px

// ## Footer
$footer-font-color:           #75818f;
$footer-font-headline-size:   18px;
$footer-font-headline-family:  $font-family-roboto;
$footer-font-headline-weight:  700;
$footer-font-links-size:      14px;
$footer-font-links-family:     Arial, 'Helvetica Neue', Helvetica, sans-serif;

$footer-zentral-bg-color: $blue;
$footer-zentral-font-color: $white;

//== Menu

$font-size-menu-lg:			16px;
$font-size-menu-md:			16px;
$font-size-menu-sm:			16px;
$font-size-menu-xs:			16px;
